name: HTML Validation

on:
  push:
    paths:
      - "**/*.html"
  pull_request:
    paths:
      - "**/*.html"
  workflow_dispatch:

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Validate HTML
        uses: Cyb3r-Jak3/html5validator-action@v7
        with:
          root: .
          blacklist: |
            **/node_modules/**
            **/vendor/**
